:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

*{
    box-sizing: inherit;
    /*box-sizing: inherit dùng để kế thừa thẻ chưa nó */
}

html{
    font-size: 62.5%;
    /*Hack: 1rem=10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /*sans-serif chữ ko có đuôi */
    box-sizing: border-box;
    scroll-behavior: smooth;
}